* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; 
}

body {
    background-color: #fefaee;
}

main {
    padding-bottom: 2em;
}

.app-container {
    display: flex;
    justify-content: space-between; 
    padding: 20px;
  }
  
  note-item {
    flex: 1; 
    margin-right: 10px; 
  }
  
  note-input {
    flex: 0 0 300px; 
  }
  